@charset "utf-8";

.video-wrap {max-width:860px; margin:0 auto}
.video-container {position:relative;padding-bottom:56.25%;height:0;overflow:hidden;background:#000;}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video{position:absolute;top:0;left:0;width:100%;height:100%;}

/* 상세검색 */
.detail-search {margin-bottom:30px;}
.detail-search .title {display:block; position:relative; color:#555; text-align:center; font-size:18px; font-weight:500; line-height:60px; background:#f6f6f6; border-radius:10px;}
.detail-search .title:after {content:""; position:absolute; top:50%; right:30px; margin-top:-16px; width:32px; height:32px; background:url("/images/bbs/toggle_off.png") 50% 50% no-repeat; overflow:hidden; text-indent:-999em;}
.detail-search .content {display:none; padding:40px; background:#f6f6f6; border-radius:10px; margin-top:10px;}
.detail-search .form-group {display:flex; margin:0 -20px 20px;}
.detail-search .form-group .col {padding:0 20px; display:flex; align-items:center;}
.detail-search .form-group .col-1 {width:50%;}
.detail-search .form-group .col-2 {width:100%;}
.detail-search .form-group label {color:#555; font-size:18px; font-weight:500; line-height:1.3em; width:110px;}
.detail-search .form-group .input {flex:1 1 auto; min-width:0; width:1%; height:50px; padding:0 20px; border:0; color:#999; font-size:18px;}
.detail-search .form-group .input.datepicker {background-image:url("/images/bbs/datepicker_icon2.png");}
.detail-search .form-group .bar {margin:0 10px;}
.detail-search .buttons {margin:30px 0 0;}
.detail-search .submit {width:200px; height:50px; border:0; color:#fff; font-size:16px; font-weight:500; background-image:linear-gradient(to right,#75fcee,#0766c2); box-shadow:5px 5px 10px rgba(1,85,166,.48);}
.detail-search.active .title {color:#fff; background:#555;}
.detail-search.active .title:after {background-image:url("/images/bbs/toggle_on.png");}
.detail-search.active .content {display:block;}

/* 검색 */
.board-search {margin-bottom:20px;}
.board-search:after {content:""; display:block; clear:both;}
.board-search .total-page {float:left; color:#686868; font-size:15px; line-height:44px;}
.board-search .cate {float:left; margin-left:15px;}
.board-search .search {float:right;}
.board-search .search input.input {width:300px;}

/* 리스트 */
.board-list table {width:100%; border-collapse:collapse; border-spacing:0px; border-top:2px solid #868686;}
.board-list table thead th {height:53px; padding:9px 5px; background: #fafafa; color:#333; font-size:16px; font-weight:500; line-height:1.5em; border-bottom:1px solid #ddd;}
.board-list table tbody td {height:53px; padding:9px 5px; color:#454545; font-size:16px; font-weight:300; line-height:1.5em; text-align:center; border-bottom:1px solid #ddd;}
.board-list table tbody td.subject {text-align:left; padding-left:15px;}
.board-list table tbody td img {vertical-align:middle; margin:-.2em 2px 0;}
.board-list table tbody td a:hover {text-decoration:underline;}
.board-list table tbody tr:hover td {background-color:#fafafa;}
.board-list .label {color:#fff; font-weight:500; display:inline-block; padding:0 12px; font-size:14px; background:#e84426; border-radius:4px;}
.board-list .comment {color:#ff6000; font-size:.85em; font-weight:700; line-height:1em;}
.board-list .ico-down {display:inline-block; width:23px; height:23px; background:url("/images/bbs/icon_file.png") 50% 50% no-repeat; overflow:hidden; font-size:0; line-height:0; text-indent:-9999em;}
.board-list .ico-down:hover {background-image:url("/images/bbs/icon_file_on.png");}

.board-list td.cate {font-weight: 500; text-align: left;}
.board-list td.cate span {color: #26436e;}
.board-list .cate .c1 {color: #26436e;}
.board-list .cate .c2 {color: #26436e;}
.board-list .cate .c3 {color: #26436e;}

/* 글작성 */
.board-white table {width:100%; border-collapse:collapse; border-spacing:0px; border-top:2px solid #868686; border-bottom:1px solid #868686; font-size:16px; line-height:1.5em; letter-spacing:-.03em;}
.board-white table th {padding:12px 20px; border:1px solid #eee; background:#fafafa; font-weight:500; color:#333;}
.board-white table td {padding:12px 20px; border:1px solid #eee; color:#505050;}
.board-white tr th:first-child,
.board-white tr td:first-child {border-left:0;}
.board-white tr th:last-child,
.board-white tr td:last-child {border-right:0;}
.board-white tr:last-child th,
.board-white tr:last-child td {border-bottom:0;}
.board-white .item {display:inline-block; margin-right:16px;}
.board-white .item:last-child {margin-right:0;}
.board-white .editor {border:0; padding:12px 0;}
.board-white .editor iframe,
.board-white .editor textarea {display:block; width:100%; vertical-align:middle;}
.board-white + .buttons {margin-top:50px;}

.board-form table {width:100%; border-collapse:collapse; border-spacing:0px; border-top:2px solid #868686; border-bottom:1px solid #868686; font-size:16px; line-height:1.5em; letter-spacing:-.03em;}
.board-form table th {padding:12px 20px; border:1px solid #eee; background:#fafafa; font-weight:500; color:#333;}
.board-form table td {padding:12px 20px; border:1px solid #eee; color:#505050;}
.board-form tr th:first-child,
.board-form tr td:first-child {border-left:0;}
.board-form tr th:last-child,
.board-form tr td:last-child {border-right:0;}
.board-form tr:last-child th,
.board-form tr:last-child td {border-bottom:0;}
.board-form + .buttons {margin-top:50px;}

.files-upload {max-width:600px;}
.files-upload-group {padding:20px 0; border-top:1px dashed #ddd;}
.files-upload-group:first-child {padding-top:0; border-top:0;}
.files-upload-group:last-child {padding-bottom:0;}
.files-upload-input {display:flex;}
.files-upload-input .input {flex:1 1 auto; min-width:0; width:1%;}
.files-upload-input .files-upload-btns {display:flex;}
.files-upload-input .files-upload-btns a {margin-left:4px;}
.files-upload-text {display:flex; margin-top:7px;}
.files-upload-text .upfiles-alt {display:flex; align-items:center; background:#fafafa; padding:0 15px; font-size:15px; border:1px solid #ddd; border-right:0;}
.files-upload-text .input {flex:1 1 auto; min-width:0; width:1%;}

.form-agree {margin:35px 0 50px;}
.form-agree h3 {color:#333; font-size:18px; font-weight:500; letter-spacing:-.03em; line-height:1.3em; margin-bottom:10px;}
.form-agree dd {padding:12px 0 0 0; color:#686868; font-size:15px; line-height:1.5em; text-align:center;}
.form-agree .scroll-box {padding:10px; color:#767676; font-size:14px; font-weight:300; line-height:1.4em; background:#fafafa; border:1px solid #ddd;}
.form-agree .check {text-align:center; color:#505050; font-size:16px; line-height:1.5em; margin-top:18px;}
.form-agree .check a {display:inline-block; background:#fff; margin-left:6px; padding:0 10px; font-size:13px; line-height:26px; letter-spacing:-.03em; border:1px solid #ddd;}

/* 상세보기 */
.board-view {border-top:2px solid #868686;}
.board-view-tit {padding:16px 16px; border-bottom:1px solid #ddd;}
.board-view-tit h3 {color:#333; font-size:20px; font-weight:500; line-height:1.3em; letter-spacing:-.015em;}
.board-view-info {padding:13px 16px; color:#767676; font-size:15px; line-height:1.3em; border-bottom:1px solid #ddd; overflow:hidden;}
.board-view-info strong {color:#333; font-weight:500;}
.board-view-info .name {float:left; margin-right:15px;}
.board-view-info .date {float:left;}
.board-view-info .hit {float:right;}
.board-view-info .hit strong {margin-right:5px;}
.board-view-files {position:relative; text-align:right; margin-top:10px; font-size:14px; line-height:1.5em;}
.board-view-files > a {text-decoration:none;}
.board-view-files img {vertical-align:middle; margin-top:-.2em;}
.board-view-files .ico-down {vertical-align:middle; margin-left:4px;}
.board-view-files .num {color:#ff4e00;}
.board-view-files .fileLayer {display:none; position:absolute; margin-top:2px; right:0; text-align:left; font-size:12px; font-weight:300; line-height:24px; border:1px solid #f0f0f0; background:#f7f7f7; padding:9px 29px 9px 11px; z-index:5;}
.board-view-files .fileLayer a {display:block; text-decoration:none;}
.board-view-files .fileLayer .divClose {position:absolute; display:inline-block; top:5px; right:5px; line-height:0;}
.board-view-files .fileLayer .divClose img {margin-top:0;}
.board-view-cnt {padding:15px 16px 60px; border-bottom:1px solid #ddd;}
.board-view-cnt img {width:auto !important; height:auto !important; max-width:100%;}

/* 이전글,다음글 */
.board-prev-next {border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:16px; line-height:1.5em;}
.board-prev-next dl {display:flex; padding:12px 16px;}
.board-prev-next dt {width:140px; color:#333; font-weight:500;}
.board-prev-next dt:after {content:""; display:inline-block; vertical-align:middle; margin:-.2em 0 0 10px;}
.board-prev-next dd {color:#505050; flex:1 1 auto; min-width:0; width:1%;}
.board-prev-next dd a {display:inline-block; vertical-align:top; max-width:100%; height:1.5em; overflow:hidden; text-overflow:ellipsis; word-break:break-all; white-space:nowrap;}
.board-prev-next dd a:hover {text-decoration:underline;}
.board-prev-next .prev {border-bottom:1px solid #eee;}
.board-prev-next .prev dt:after {border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #aaa;}
.board-prev-next .next dt:after {border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #aaa;}

/* 버튼 */
.buttons {margin:20px 0;}
.buttons:after {content:" "; display:block; clear:both;}
.buttons .cen {text-align:center;}
.buttons .cen .btn-pack {margin:0 3px;}
.buttons .fr {float:right;}
.buttons .fl {float:left;}
.buttons a {text-decoration:none;}
.buttons a,.buttons input {vertical-align:top;}
.buttons + .paginate {margin-top:20px;}

.btn-pack {display:inline-block;overflow:visible;position:relative;margin:0;padding:0 10px;background:#fafafa;color:#333;border:1px solid #ddd;text-align:center;text-decoration:none !important;vertical-align:top;white-space:nowrap;cursor:pointer;}
.btn-pack.focus {background:#26436e; border:1px solid #26436e; color:#fff;}
.btn-pack.dark {background:#555; border:1px solid #555; color:#fff;}
.btn-pack.border {background:#fff; border:1px solid #26436e; color:#555;}
.btn-pack.radius {border-radius:30px;}
.btn-pack.small {height:30px;padding:0 15px;line-height:28px;font-size:13px;}
.btn-pack.medium {height:44px;padding:0 20px;line-height:43px;font-size:16px;}
.btn-pack.large {min-width:130px; height:50px;padding:0 30px;line-height:48px;font-size:18px;font-weight:500;}
.btn-pack.xlarge {min-width:180px; height:60px;padding:0 40px;line-height:58px;font-size:20px;font-weight:500;}
.btn-pack.comment {width:120px; height:90px;padding:0;font-size:20px;font-weight:500;background:#fff;color:#0054a5;border:1px solid #0054a5;}

.btn-map {display:inline-block; padding:0 15px; color:#505050; font-size:14px; font-weight:400; line-height:32px; letter-spacing:-.03em; border-radius:30px; background:#fff; border:1px solid #505050; text-align:center; text-decoration:none !important;}
.btn-map:hover {color:#fff; background:#333; border-color:#333;}

/* 페이지목록 */
.paginate {margin-top:40px;text-align:center;}
.paginate a,  
.paginate strong{display:inline-block;padding:0;margin:0 3px;width:38px;height:38px;font-size:15px;font-weight:500;line-height:38px;color:#555;border-radius:100%;text-decoration:none;text-align:center;vertical-align:middle;}  
.paginate strong{color:#fff;border-color:#26436e;background-color:#26436e;}  
.paginate a:focus,
.paginate a:hover {background-color:#f4f4f4;}
.paginate a.direction{background-position:50% 50%;background-repeat:no-repeat;}
.paginate a.direction span {font-size:0;line-height:0;text-indent:-999px;}
.paginate a.direction.first {background-image:url("/images/bbs/btn_first.png");}
.paginate a.direction.prev {background-image:url("/images/bbs/btn_prev.png"); margin-right:20px;}
.paginate a.direction.next {background-image:url("/images/bbs/btn_next.png"); margin-left:20px;}
.paginate a.direction.last {background-image:url("/images/bbs/btn_last.png");}
.paginate a.direction.disabled {display:none;}

/* 코멘트 */
.comment-area {margin-top:50px;}
.comment-total {margin-bottom:15px; color:#333; font-size:16px; font-weight:400; line-height:1.3em;}
.comment-total strong {font-size:1.5em;}
.comment-write {padding:20px; border:1px solid #ddd; background:#f4f4f4;}
.comment-write .byte {font-size:14px; line-height:1.3em; color:#505050; letter-spacing:0; margin-bottom:10px;}
.comment-write .write {display:flex;}
.comment-write .write textarea {flex:1 1 auto; min-width:0; width:1%; height:90px; resize:none; margin-right:15px;}
.comment-item {border-bottom:1px solid #e5e5e5; padding:20px 0;}
.comment-item.comment-reply {padding-left:40px; background:url("/images/bbs/icon_reply.png") 10px 18px no-repeat;}
.comment-box {position:relative;}
.comment-info {font-size:15px; font-weight:400; line-height:1.5em; margin-bottom:2px;}
.comment-info .name {font-weight:500; color:#333; margin-right:8px;}
.comment-info .date {color:#878787; font-family:"Arial",sans-serif; font-size:12px; letter-spacing:0;}
.comment-link {margin-top:10px; color:#878787; font-size:14px; font-weight:300; line-height:1.3em;}
.comment-link a:hover {text-decoration:underline;}
.comment-txt {color:#505050; font-size:15px; line-height:1.7em;}
.comment-ctr {position:absolute; top:0; right:0; color:#878787; font-size:14px; font-weight:300; line-height:1.5em;}
.comment-ctr a:hover {text-decoration:underline;}
.comment-ctr .bar {display:inline-block; width:1px; height:11px; background:#ddd; margin:0 5px;}
.comment-input {border:1px solid #ddd; padding:15px;}
.comment-input .byte {font-size:12px; line-height:1.3em; color:#878787; letter-spacing:0; margin-bottom:8px;}
.comment-input textarea {display:block; width:100%; height:54px; border:0; padding:0 !important; resize:none;}
.comment-input .btns {text-align:right; margin-top:5px;}
.comment-password {display:flex;}
.comment-password .input {flex:1 1 auto; min-width:0; width:1%; max-width:180px;}

/* 비밀번호 */
.board-password {max-width:480px; text-align:center; margin:30px auto; padding:50px 40px; border:1px solid #ddd; border-radius:10px;}
.board-password dt {color:#333; font-size:16px; font-weight:500; padding-bottom:27px;}
.board-password dd {display:flex; align-items:center;}
.board-password dd label {color:#505050; font-size:15px; font-weight:400; margin-right:13px;}
.board-password dd .input {flex:1 1 auto; min-width:0; width:1%; margin-right:4px;}

/* 제품 */
.project-list {padding:25px 0 0 0; border-bottom:1px solid #ddd; border-top:2px solid #222;}
.project-list ul {display:flex; flex-wrap:wrap; margin:0 -15px;}
.project-list ul li {width:25%; padding:0 15px; margin-bottom:35px; text-align:center;}
.project-list ul li.none {width:100%; padding:70px 0; margin:0; text-align:center; color:#767676;}
.project-list ul li a {display:block; border:1px solid rgba(0,0,0,.08);}
.project-list ul li .thumb {position:relative; padding-bottom:65%; overflow:hidden;}
.project-list ul li .thumb img {position:absolute; top:50%; left:0; transition:.4s ease-in-out; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); width:100%; height:auto !important; max-width:100%; min-height:100%; object-fit:cover;}
.project-list ul li .tit {color:#333; font-size:16px; line-height:1.4em; font-weight:500; height:80px; display:flex; justify-content:center; align-items:center;}
.project-list ul li .date {color:#767676; font-size:14px; line-height:1.3em; margin-top:6px;}

.project-summary {display:flex; margin-bottom:50px;}
.project-image {width:580px; margin-right:40px;}
.project-image .img {position:relative; padding-bottom:65%; overflow:hidden;}
.project-image .img img {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:auto !important; height:auto !important; max-width:100%; max-height:100%; object-fit:contain;}
.project-image .img:after {content:""; position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid rgba(0,0,0,.08);}

.project-image .zoom {text-align:center; margin-top:15px;}
.project-image .zoom a {color:#454545; letter-spacing:-.03em;}
.project-image .zoom a:before {content:""; display:inline-block; width:33px; height:33px; border:1px solid #dfdfdf; border-radius:100%; vertical-align:middle; background:url("/images/bbs/zoom.png") no-repeat center center; margin-right:10px;}

.project-info {flex:1 1 auto; min-width:0; width:1%;}
.project-info table {width:580px; border-collapse:collapse; border-spacing:0px; letter-spacing:-.03em; line-height:1.5em; margin-bottom:18px; border-top:2px solid #666;}
.project-info table th {position:relative; padding:13px 18px 13px 40px; color:#000; font-weight:500; border:1px solid #eee; width:20%; text-align:left;}
.project-info table th:before {content:""; width:4px; height:4px; background:#b4b4b4; position:absolute; top:23px; left:20px;}
.project-info table td {padding:13px 18px; color:#454545; border:1px solid #eee; width:80%; padding-left:30px;}
.project-info table tr th,
.project-info table tr td {border-right:0; border-left:0;}
.project-info .btns {text-align:right;}
.project-info .btns .btn{display:inline-block;overflow:visible;position:relative;margin:0;padding:0 10px;background:#fafafa;color:#333;border:1px solid #ddd;text-align:center;text-decoration:none !important;vertical-align:top;white-space:nowrap;cursor:pointer;min-width:130px; height:50px;padding:0 30px;line-height:48px;letter-spacing:-.03em;font-weight:500;}
.project-info .btns .btn.btn-list{background:#fff; border:1px solid #b1b1b1; color:#555; margin-right:8px;}
.project-info .btns .btn.btn-contact{background:#2da856; border:1px solid #2da856; color:#fff;}

.project-detail {min-height:350px; color:#454545; background:#f9f9f9; }
.project-detail .tit {color:#fff; font-size:18px; line-height:1.3em; letter-spacing:-.03em; font-weight:500; background:#333f58; padding:13px 36px;}
.project-detail .cnt {padding: 40px; 36px}

/* 공사실적 탭메뉴 */
.sub-tab2 {text-align:center; margin-bottom:70px; position:relative;}
.sub-tab2 ul {vertical-align:top; border-radius:50px; border:1px solid #ddd; margin: 0 170px;/* overflow:hidden; */}
.sub-tab2 ul li {float:left; width:160px;}
.sub-tab2 ul li a {display:block; font-family: 'Roboto', sans-serif; color:#454545; line-height:54px; letter-spacing:-.03em; font-size:18px; font-weight:500;}
.sub-tab2 ul li:first-child a {font-family: 'Noto Sans KR';}
.sub-tab2 ul li.active {background:#2da856; border-radius:50px;}
.sub-tab2 ul li.active a {color:#fff;}

.sub-tab2 .slick-arrow{width:56px; height:56px; border-radius:100%; background-color:#f3f3f3 ; background-repeat:no-repeat; background-position:center; position:absolute; top:0; border:0; text-indent:-999em; font-size:0; line-height:0;}
.sub-tab2 .slick-prev{left:-85px; background-image:url("/images/sub/icon_prev.png");}
.sub-tab2 .slick-next{right:-85px; background-image:url("/images/sub/icon_next.png");}
